body{
    background-image: url(./shara\ desert\ \(1\).jpg);
}
nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
.rightbar{
    border: 2px solid white;
    position: relative;
    right: 80px;
    border-radius: 20px;
}
img{
    border-radius: 10px;
    height: 200px;
    width: 180px;
}
.item{
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: repeat(2, 150px);
    width: 40vw;
    gap: 20px 50px;
    margin-left: 900px;
    margin-top: -30px;

}
.one{
    font-size: 70px;
    color: white;
    margin-top: 200px;
    margin-left: 80px;
}
.two{
    color: white;
    margin-top: -70px;
    margin-left: 80px;
}
.three{
    border: 2px solid white;
    border-radius: 30px;
    padding: 10px 45px;
    margin-left: 80px;
}
.four{
    margin-top: -440px;
}